<!DOCTYPE html>
<html>
<head>
    <title>Degrees of Wikipedia</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Degrees of Wikipedia</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <form action="/" method="GET">
              <button type="submit" name="submit" class="btn btn-info" value="new">New Game</button>
          </form>
        </li>
        <li class="nav-item active">
          <form action="/" method="GET">
              <button type="submit" name="submit" class="btn btn-info" value="restart">Restart</button>
          </form>
        </li>
        <li>
          <button type="button" class="btn btn-info" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The purpose of this game is to reach one wikipedia page from another. 1)The starting and ending page are on the sides and the current page is in the middle(hover over them to get descriptions).
          2)Press the links to move to a new page.
          3)Type in the search bar to filter through the links.
          4)The 'new game' button creates new start and end points.
          5)The 'restart' button moves you back to the start page">
            Help
          </button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input id="search" name="search" class="form-control mr-sm-2" type="text"onKeyPress="filterlinks()" onKeyUp="filterlinks()" placeholder="Search">
       <!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button-->
      </form>
    </div>
  </nav>
<div class="container">
  <div class="row" id="startend">
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary btn-md" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{start.description}}">
        {{start.title}}
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary btn-lg" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{curr.description}}">
        {{curr.title}}
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary btn-md" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{end.description}}">
        {{end.title}}
      </button>
    </div>
<form action="/" method="POST" >
    {% for link in curr.links%}
      <button id="links" type="submit" name="submit" class="btn btn-link" value="{{link}}">{{link}}</button>
    {% endfor %}
</form>
  </div>
</div>
<script type="text/javascript">
  $(function(){
      $('[data-toggle="popover"]').popover();
  });
  var linkbuttons = document.getElementsByClassName("btn btn-link");
  var i;
  function filterlinks(){
    var sval = document.getElementById("search").value.toString();
    var links =  document.getElementsByClassName("btn btn-link");
    var regex = new RegExp(sval,"i");
    var i;
      for (i = 0; i < links.length; i++) {
        links[i].style.display="inline-block";
         var n = (links[i].value).search(regex);
         //console.log(n);
         if(n==-1) links[i].style.display="none";
       }
  }
  //edited snippet of https://stackoverflow.com/questions/42193700/detect-when-inspect-element-is-open
    var element = new Image;
    var devtoolsOpen = false;
    element.__defineGetter__("id", function() {
      devtoolsOpen = true; // This only executes when devtools is open.
      window.location.assign("https://github.com/Chen-Oliver/wikideg");
      });
    setInterval(function() {
      devtoolsOpen = false;
      console.log(element)
    }, 1000);
  </script>
</body>
</html>
